* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(51, 3, 3);
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.bubble5 {
    width: 120px;
    height: 120px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    right: -20px;
    bottom: 20px;
    animation: bubbleAnimation 2s infinite;
    transition: 0.5s;
}

.bubble4 {
    width: 65px;
    height: 65px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    right: -200px;
    bottom: 20px;
    animation: bubbleAnimation 2s infinite;
    transition: 0.5s;
}

.bubble3 {
    width: 110px;
    height: 110px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    left: -300px;
    bottom: 20px;
    animation: bubbleAnimation 2s infinite;
    transition: 0.5s;
}

.bubble2 {
    width: 50px;
    height: 50px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    left: 200px;
    bottom: 20px;
    animation: bubbleAnimation 2s infinite;
    transition: 0.5s;
}

.bubble {
    width: 80px;
    height: 80px;
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    animation: bubbleAnimation 2s infinite;
    transition: 0.5s;
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(0) scale(1);
        animation-delay: 0.5s;
        opacity: 0;
    }

    /* 25% {
        transform: translateY(-150px) scale(1.5);
        opacity: 1;
    } */

    50% {
        transform: translateY(-300px) scale(2.0);
        opacity: 1.2;
        animation-delay: 1s;
    }

    /* 75% {
        transform: translateY(-350px) scale(0.7);
        opacity: 0.5;
    } */

    100% {
        transform: translateY(-700px) scale(0.4);
        opacity: 0;
        animation-delay: 1s;
    }
}